USE [master]
GO
/****** Object:  Database [FaceRecognitionV2]    Script Date: 4/14/2016 6:23:23 PM ******/
CREATE DATABASE [FaceRecognitionV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FaceRecognitionV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\FaceRecognitionV2.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FaceRecognitionV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\FaceRecognitionV2_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FaceRecognitionV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FaceRecognitionV2]
GO
/****** Object:  Table [dbo].[Principal]    Script Date: 4/14/2016 6:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Principal](
	[ID] [int] NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Materno] [varchar](50) NOT NULL,
	[Seguridad] [float] NOT NULL,
	[Paterno] [varchar](50) NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[ImagenPromedio] [varbinary](max) NULL,
	[R] [varchar](50) NULL,
	[G] [varchar](50) NULL,
	[B] [varchar](50) NULL,
	[A] [varchar](50) NULL,
 CONSTRAINT [PK_Principal_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
